
@{
    ViewBag.Title = "Hizmet";
    Layout = "~/Views/Shared/_otelvitrin.cshtml";
}

</head>
<body>
    <!--w3l-header-->
    <!-- //w3l-header -->
    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Egenin kalbinde denize sıfır.
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet/">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Hayalin Ötesinde.</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet/">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Termal Havuz, Spa ve Masaj salonu..
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet/">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>7/24 Servis Hizmeti</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet/">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- /main-slider -->
    <!-- //w3l-availability-form-section -->
    <!-- about -->
    <section class="w3l-about py-5 mt-5">
        <div class="container py-sm-4">
            <div class="row">
                <div class="col-lg-6 about-left mb-md-0 mb-5">
                    <h3 class="title-big">Otelimizde Rahatlamanın konforuna erişin</h3>
                    <h5>Müşterilerimiz Misafirlerimizdir.</h5>
                    <p class="mt-3">
                        Otelin ana restaurantı Pancaldi’nın sıcak ve rahat atmosferinde zengin açık büfe kahvaltının tadını çıkartarak güne keyifli bir başlangıç yapabilirsiniz.
                        Tutkulu ve yetenekli şeflerin hazırladığı Türk ve Dünya mutfaklarından lezzetli yemeklerin tadına bakabilir,
                        restaurant'ın yere kadar uzanan camları sayesinde İzmir şehir hayatını keyifle izleyebilirsiniz
                    </p>
                    <a href="/Default/Hakkımda/" class="btn btn-style btn-primary mt-sm-5 mt-4">Daha fazlası..</a>
                </div>
                <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                    <img src="~/hotels-starter/assets/images/top.jpg" alt="" class="img-fluid img-border mt-4" />
                    <img src="~/hotels-starter/assets/images/bottom.jpg" alt="" class="img-fluid position-absolute img-position" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <div class="best-rooms py-5">
        <div class="container py-lg-5 py-sm-4">
            <h3 class="title-big text-center">Best Rooms</h3>
            <div class="ban-content-inf row py-lg-3">
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily">
                            <img class="img-fluid" src="~/hotels-starter/assets/images/room1.jpg" alt="">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4 class="top-text">
                                        MVC proje
                                        <span>Özel suit odamız</span>
                                    </h4>
                                    <p>150₺'den başlayan fiyatlar </p>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="room-info">
                            <h3 class="room-title"><a href="room-single.html">Mvc proje</a></h3>
                            <ul class="mb-3">
                                <li><span class="fa fa-users"></span> 2 kişi</li>
                                <li><span class="fa fa-bed"></span> Çift kişilik Yatak</li>
                                <li><span class="fa fa-bed"></span> 15sqft</li>
                            </ul>
                            <p>
                                En güzel odamızda doğaya açılan bir manzaraya uyanmak ne dersin ?
                            </p>
                            <a href="/Rezervasyon/Index/" class="btn btn-style btn-primary mt-sm-4 mt-3">Rezervasyon yap</a>
                        </div>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room2.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Aile odaları  <span></span></h4>
                                            <p>100₺'den başlayan fiyatlar</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room3.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>2 kişilik odalar <span></span></h4>
                                            <p>80₺'den başlayan fiyatlar</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room4.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Tek kişilik odalar <span> </span></h4>
                                            <p>50₺'den başlayan fiyatlar </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room5.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Gençler için odalar <span></span></h4>
                                            <p>40₺'den başlayan fiyatlar </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-index3">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img text-righ">
                        <div class="position-relative">
                            <img src="~/hotels-starter/assets/images/videobg.jpg" alt="" class="img-fluid" />
                            <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://player.vimeo.com/video/246941769" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                        <h6>Turizim sektöründe</h6>
                        <h3 class="title-big"> 20 yıllık otel ve işletme</h3>
                        <p class="mt-3">
                            Muğla,Balıkesir,Antalya ve Trabzonda sizlere hizmet vermeye devam ediyoruz..
                        </p>
                        <ul class="w3l-right-book mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>Misafir için en iyi hizmet</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>7/24 Hizmet</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Ege'nin en doğal oteli</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Tek, Çift ve daha fazlası için odalar </li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Eşsiz bir deneyim</li>
                        </ul>
                        <a href="/Rezervasyon/Index/" class="btn btn-style btn-primary mt-4">Rezervasyon yap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quotation -->
    <div class="quotation py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="welcome-left text-center py-md-5 py-3">
                <h3>Deneyimimn tadını çıkarın. Gevşeyin Rahatlayın ve stresinizi atın.</h3>
                <a href="/Rezervasyon/Index/" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Rezervasyon Yap</a>
                <a href="/iletisim/Index/" class="btn btn-style btn-primary mt-sm-5 mt-4">Bize ulaşın</a>
            </div>
        </div>
    </div>
    <!-- //quotation -->



</body>

</html>

